*.cbb
*.cbc
*.hds
*.ghb
*.dis.grb
mf6
mf5to6
zbud6
*.dylib
*.so
*.dll
*.png
*.chd
*.dis
*.ic
*.ims
*.lst
*.nam
*.npf
*.oc
*.tdis
*.wel
*.evt
*.sto
*.rch
*.rcha
*.riv
*.sfr
*.uzf
*.gri
*.grd
*.drn
*.ghb
*.stdout
*.DS_Store
output.nc
*.rate.nc
*.collect.nc
*.maximum.nc
/moehlin_jost
/hillslope_example_for_benchmark
mf6io.pdf
modflow_output.nc
roger_output.nc
.DS_Store
benchmarks/parameters.csv
# *.nc
*_run_*.nc
boundary_condtions.nc
forcing.nc
/bin
*.out
/sfrmaker
*.xlsx
*.xml

**/figures
**/output

dreisam_moehlin_neumagen/steady-state/input/dem_dreisam_moehlin_neumagen_50m.tif
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing/
fudge_parameters_modflow.csv
**/fudge_parameters_modflow.csv

dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.shx
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.shx
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.shx
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_reach_data.csv
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.shx
dreisam_moehlin_neumagen/steady-state/input/_sfr_diversions.csv
dreisam_moehlin_neumagen/steady-state/input/model_SFR.chk
dreisam_moehlin_neumagen/steady-state/input/sfr_connectiondata.txt
dreisam_moehlin_neumagen/steady-state/input/sfr_packagedata.txt
dreisam_moehlin_neumagen/steady-state/input/sfr_packagedata_modified.csv
dreisam_moehlin_neumagen/steady-state/input/sfr_packagedata_modified.gpkg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_segment_data.csv
fudge_parameters_modflow.csv
dreisam_moehlin_neumagen/steady-state/input/groundwater_extraction.gpkg
dreisam_moehlin_neumagen/steady-state/input/groundwater_extraction_.gpkg
dreisam_moehlin_neumagen/steady-state/modify_groundwater_extraction.py

dreisam_moehlin_neumagen/steady-state/input/active_area.cpg
dreisam_moehlin_neumagen/steady-state/input/active_area.dbf
dreisam_moehlin_neumagen/steady-state/input/active_area.prj
dreisam_moehlin_neumagen/steady-state/input/active_area.qix
dreisam_moehlin_neumagen/steady-state/input/active_area.shp
dreisam_moehlin_neumagen/steady-state/input/active_area.shx
dreisam_moehlin_neumagen/steady-state/input/active_area_grid.cpg
dreisam_moehlin_neumagen/steady-state/input/active_area_grid.dbf
dreisam_moehlin_neumagen/steady-state/input/active_area_grid.prj
dreisam_moehlin_neumagen/steady-state/input/active_area_grid.shp
dreisam_moehlin_neumagen/steady-state/input/active_area_grid.shx
dreisam_moehlin_neumagen/steady-state/input/awgn_elevation_5m.tif
dreisam_moehlin_neumagen/steady-state/input/awgn_mask_50m.tif
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.cpg
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.dbf
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.gpkg
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.prj
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.qmd
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.shp
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments.shx
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.cpg
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.dbf
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.gpkg
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.prj
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.qmd
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.shp
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected.shx
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected_repaired.cpg
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected_repaired.dbf
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected_repaired.prj
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected_repaired.shp
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_segments_connected_repaired.shx
dreisam_moehlin_neumagen/steady-state/input/awgn_stream_width.tif
dreisam_moehlin_neumagen/steady-state/input/awgn_streams.cpg
dreisam_moehlin_neumagen/steady-state/input/awgn_streams.dbf
dreisam_moehlin_neumagen/steady-state/input/awgn_streams.prj
dreisam_moehlin_neumagen/steady-state/input/awgn_streams.shp
dreisam_moehlin_neumagen/steady-state/input/awgn_streams.shx
dreisam_moehlin_neumagen/steady-state/input/dem_50m.tif
dreisam_moehlin_neumagen/steady-state/input/dem_5m.tif
dreisam_moehlin_neumagen/steady-state/input/downstream_nodes.gpkg
dreisam_moehlin_neumagen/steady-state/input/fraction_of_channelisation.tif
dreisam_moehlin_neumagen/steady-state/input/land_use.tif
dreisam_moehlin_neumagen/steady-state/input/manning.tif
dreisam_moehlin_neumagen/steady-state/input/mask_former_tuniberg_wetland.tif
dreisam_moehlin_neumagen/steady-state/input/parameters_modflow_.nc
dreisam_moehlin_neumagen/steady-state/input/readme.txt
dreisam_moehlin_neumagen/steady-state/input/sfr_cells.cpg
dreisam_moehlin_neumagen/steady-state/input/sfr_cells.dbf
dreisam_moehlin_neumagen/steady-state/input/sfr_cells.prj
dreisam_moehlin_neumagen/steady-state/input/sfr_cells.shp
dreisam_moehlin_neumagen/steady-state/input/sfr_cells.shx
dreisam_moehlin_neumagen/steady-state/input/sfr_diversions.gpkg
dreisam_moehlin_neumagen/steady-state/input/sfr_lines.cpg
dreisam_moehlin_neumagen/steady-state/input/sfr_lines.dbf
dreisam_moehlin_neumagen/steady-state/input/sfr_lines.prj
dreisam_moehlin_neumagen/steady-state/input/sfr_lines.shp
dreisam_moehlin_neumagen/steady-state/input/sfr_lines.shx
dreisam_moehlin_neumagen/steady-state/input/sfr_outlets.cpg
dreisam_moehlin_neumagen/steady-state/input/sfr_outlets.dbf
dreisam_moehlin_neumagen/steady-state/input/sfr_outlets.prj
dreisam_moehlin_neumagen/steady-state/input/sfr_outlets.shp
dreisam_moehlin_neumagen/steady-state/input/sfr_outlets.shx
dreisam_moehlin_neumagen/steady-state/input/sfr_reach_data.csv
dreisam_moehlin_neumagen/steady-state/input/sfr_routing.cpg
dreisam_moehlin_neumagen/steady-state/input/sfr_routing.dbf
dreisam_moehlin_neumagen/steady-state/input/sfr_routing.prj
dreisam_moehlin_neumagen/steady-state/input/sfr_routing.shp
dreisam_moehlin_neumagen/steady-state/input/sfr_routing.shx
dreisam_moehlin_neumagen/steady-state/input/sfr_segment.csv
dreisam_moehlin_neumagen/steady-state/input/sfr_segment_data.csv
dreisam_moehlin_neumagen/steady-state/input/sfr_segment_data.gpkg
dreisam_moehlin_neumagen/steady-state/input/sfr_segments.csv
dreisam_moehlin_neumagen/steady-state/input/streambed_conductivity.tif
dreisam_moehlin_neumagen/steady-state/input/streambed_conductivity_.tif
dreisam_moehlin_neumagen/steady-state/input/streambed_structure.tif
dreisam_moehlin_neumagen/steady-state/input/streambed_structure_.tif
dreisam_moehlin_neumagen/steady-state/input/upstream_nodes.gpkg

**/batch_*/**
