*.cbb
*.hds
*.ghb
*.dis.grb
mf6
mf5to6
zbud6
*.dylib
*.so
*.dll
*.png
*.chd
*.dis
*.ic
*.ims
*.lst
*.nam
*.npf
*.oc
*.tdis
*.wel
*.evt
*.sto
*.rch
*.rcha
*.riv
*.sfr
*.uzf
*.gri
*.grd
*.drn
*.ghb
*.stdout
*.DS_Store
output.nc
*.rate.nc
*.collect.nc
*.maximum.nc
/moehlin_jost
/hillslope_example_for_benchmark
mf6io.pdf
modflow_output.nc
roger_output.nc
.DS_Store
benchmarks/parameters.csv
# *.nc
*_run_*.nc
boundary_condtions.nc
forcing.nc
/bin
*.out
/sfrmaker
*.xlsx
*.xml

dreisam_moehlin_neumagen/steady-state/input/dem_dreisam_moehlin_neumagen_50m.tif
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing/