*.cbb
*.cbc
*.hds
*.ghb
*.dis.grb
mf6
mf5to6
zbud6
*.dylib
*.so
*.dll
*.png
*.chd
*.dis
*.ic
*.ims
*.lst
*.nam
*.npf
*.oc
*.tdis
*.wel
*.evt
*.sto
*.rch
*.rcha
*.riv
*.sfr
*.uzf
*.gri
*.grd
*.drn
*.ghb
*.stdout
*.DS_Store
output.nc
*.rate.nc
*.collect.nc
*.maximum.nc
/moehlin_jost
/hillslope_example_for_benchmark
mf6io.pdf
modflow_output.nc
roger_output.nc
.DS_Store
benchmarks/parameters.csv
# *.nc
*_run_*.nc
boundary_condtions.nc
forcing.nc
/bin
*.out
/sfrmaker
*.xlsx
*.xml

**/figures
**/output

dreisam_moehlin_neumagen/steady-state/input/dem_dreisam_moehlin_neumagen_50m.tif
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing/
fudge_parameters_modflow.csv
**/fudge_parameters_modflow.csv

dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_cells.shx
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_lines.shx
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_outlets.shx
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_reach_data.csv
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.cpg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.dbf
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.prj
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.shp
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_routing.shx
dreisam_moehlin_neumagen/steady-state/input/_sfr_diversions.csv
dreisam_moehlin_neumagen/steady-state/input/model_SFR.chk
dreisam_moehlin_neumagen/steady-state/input/sfr_connectiondata.txt
dreisam_moehlin_neumagen/steady-state/input/sfr_packagedata.txt
dreisam_moehlin_neumagen/steady-state/input/sfr_packagedata_modified.csv
dreisam_moehlin_neumagen/steady-state/input/sfr_packagedata_modified.gpkg
dreisam_moehlin_neumagen/steady-state/input/streamflow_routing_sfr_segment_data.csv
fudge_parameters_modflow.csv
dreisam_moehlin_neumagen/steady-state/input/groundwater_extraction.gpkg
dreisam_moehlin_neumagen/steady-state/input/groundwater_extraction_.gpkg
dreisam_moehlin_neumagen/steady-state/modify_groundwater_extraction.py